.vscode/*
ulvenstone.exe
SDL2.dll
test/testprogram.exe
temp.txt
/.idea/editor.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/.gitignore
/.idea/inspectionProfiles/Project_Default.xml
/src/SDL2_image.dll
test/test_ray_casting.exe
resources/backup.txt
